html{height:100%
}
body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    margin-left:0;
    margin-top: 0;
    height:100%;
    width:100%;
    background-color: white;
}

#wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: stretch;
}

#wrapper-vert {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
}

.sidebar {
    width:20%;
    float:left;
    height:inherit;
    background-color: #BFD8BD;
}

.sidebar h1 {
    margin:25px;
    text-align: center;
}

.sidebar p {
    margin:40px;
    text-align: center;
}

.sidebar img {
    border-radius:50%;
    width:50%;
    display: block;
    margin-left:auto;
    margin-right: auto;
}

.content {
    flex: 1;
    float:left;
}

.desc {
    width:100%;
    float: center; 
}

.desc h1{
    color: #5D737E;
    margin:25px;
    text-align: center;
}
.desc p{
    margin:25px;
    text-align: center;
}


p,h1,h2,ul{
    margin-left:50px;
}

.bookCol{
    height:100%;
    display: block;
    float:left;
}

#bc1,#bc3{width:33%;}
#bc2{width:33%;}

.bookCol h2 {
    font-size: 24px;
    font-style: italic;
    text-align: center;
    margin-left:0;
    margin-right:0;
}

.bookCol h3 {
    font-size: 15   px;
    text-align: center;
    margin-left:0;
    margin-right:0;
}

.bookCol p{
    font-size: 14px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.bookCol > img{
    margin-left:auto;
    margin-right:auto;
    width:50%;
    display: block;
}

.cover{
    position: relative;
    display: block;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}


.cov{
    width:62.5%;
    height:auto;
    display:block;
    
    margin-left:auto;
    margin-right:auto;
}

.badge{
    position: absolute;
    top:25%;
    right:8%;
    width:25%;
}

.projCol{
    height: 100%;
    display: block;
    float: left;
    min-width: 300px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}

#pc1,#pc2,#pc3{width: 33%;}

.projCol h2 {
    font-size: 24px;
    text-align: center;
    margin-left:0;
    margin-right:0;
}

.projCol p{
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.projCol h4{
    font-size: 12px;
    font-style: italic;
    text-align: center;
    margin-left:0;
    margin-right:0;
}

.appimg{
    max-width: 144px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#appimgSmall{
    max-width: 144px;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#meimg{
    width:10%;
    max-width:300px;
    border-radius:50%;
    width:50%;
    display: block;
    margin-left:auto;
    margin-right: auto;
}

#idx{
    text-align: center;
    
}

#idx p,#idx h1{
    margin-right: 0;
    margin-left: 0;
}
.appgallery{
    height:200px;
    
}

.appgallery img{
    max-height: 200px;
    width: 49%;
    display: inline;
    margin:auto;
}
.imgcircle{
    border-radius:50%;
}

p {
    font-family: Helvetica, sans-serif;
}

nav ul {
    
    top: 0;
    width: 100%;
    background-color: #77bfa3;
    list-style-type: none; /*makes the thing not have bullets*/
    margin:0;
    padding:0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 15px 55px;
    text-decoration: none;
}

li a:hover:not(.active) {
    
    background-color: darkslategray;
}

.active {
    background-color: black;
}